#Verification
This document verifies the behaviour described in the README.

#Phase 1 -Public EC2 Reachability
'''bash
curl http://13.135.169.107
